.movie {
  overflow: hidden;
  display: grid;
  border-radius: 6px;
  position: relative;
}

.movie__container {
  display: grid;
  grid-template: 1fr/1fr 30px;
  gap: 26px;
  margin: 14px;
  align-items: center;
}

.movie__image {
  object-fit: cover;
  width: 100%;
  height: 203px;
  cursor: pointer;
}

.movie__title {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__duration {
  background-color: #2F2F2F;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8B8B8B;
}

.movie__button-container {
  width: 52px;
  height: 18px;
}

.movie__button{
  cursor: pointer;
  width: 21px;
  height: 21px;
  outline: none;
  border: 0;
  position: absolute;
  top: 14px;
  right: 14px;
}

.movie__unsave-button {
  width: 72px;
  background: url('../../images/unsaved-icon.svg') no-repeat center center;
}

.movie__saved-button{
  background: url('../../images/saved-icon.svg') no-repeat center center;
}

.movie__delete-button{
  background: url('../../images/delete-icon.svg') no-repeat center center;
}

.movies__error{
  color: #fff;
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .movie__image {
    min-height: 190px;
    max-height: 190px;
  }
}

@media (max-width: 640px) {
  .movie__image {
    min-height: 168px;
    max-height: 168px;
  }

  .movie__text-container {
    padding: 0;
  }

  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }
}
