.promo{
  padding: 75px 20px 0;
  background: #073042;
  height: 574px;
}

.promo__container{
  margin: 0 auto;
  background-color: #073042;
  width: 100%;
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.promo__title {
  color: #ffffff;
  font-size: 50px;
  line-height: 58px;
  max-width: 680px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
}
  .promo__text {
    margin-top: 36px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

@media (max-width:768px){
  .promo {
    height: auto;
    padding: 0;
  }

  .promo__container {
    align-items: center;
    justify-content: center;

  }

  .promo__title {
    max-width: 680px;
    margin-top: 48px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__text {
    margin-top: 22px;
    text-align: center;
  }
}

@media (max-width:560px){
  .promo__container{
    /*max-height: 570px;*/
  }

  .promo__title{
    font-size: 31px;
    line-height: 39px;
    margin-top: 44px;
  }

  .promo__text {
    margin-top: 24px;
  }
}

@media(max-width:768px) and (min-width:560px){
  .promo{
    padding: 0 calc((100vw - 560px)/(768 - 560) * (20 - 14) + 14px);
  }
}
