.logo {
  background: url('../../images/logo.svg') no-repeat center / contain;
  width: 310px;
  height: 304px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) and (min-width: 560px) {
  .logo {
    margin-top: 140px;
    position: static;
    }
}

@media (max-width: 560px) {
  .logo {
    margin-top: 70px;
    position: static;
  }
}
